*		{ margin: 0; padding: 0; }
a 		{ color: #FBFBFF; }
body 	{ width: 100%; height: 100%; background-attachment: fixed; background-color: #706677; background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url(../img/sunset.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; color: #FFFFFF; font-family: 'Josefin Sans'; font-size: 1rem; }
html 	{ width: 100%; height: 100%; }

.bg 	{ background-color: rgba(62,78,80); }
.carousel-control-next-icon { background-image: url(../img/arrow.svg); }
.carousel-control-prev-icon { background-image: url(../img/arrow-left.svg); }
.carousel-control-next-icon, .carousel-control-prev-icon { width: 1.62em; height: 1.62em; }
.carousel-item { -webkit-transition: -webkit-transform 0.24s linear !important; -o-transition: -o-transform 0.24s linear !important; transition: transform 0.24s linear !important; }
.footer 	{ letter-spacing: 0.16em; }
.header		{ letter-spacing: 0.16em; }
.info 		{ letter-spacing: 0.16em; }
.mandarin 	{ font-family: 'Ma Shan Zheng';}
